name: roon update
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' # runs daily at 00:00
permissions:
  contents: write
  pull-requests: write
jobs:
  roon-update:
    runs-on: runs-on=${{ github.run_id }}/runner=1cpu-linux-arm64
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: DeterminateSystems/nix-installer-action@main
      - run: nix shell nixpkgs#bash nixpkgs#gnused -c bash ./pkgs/roon-server/update.sh >> "$GITHUB_OUTPUT"
        id: update-sh
      - uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          branch: roon-update
          commit-message: ${{ steps.update-sh.outputs.commit-msg }}
          title: "roon update"
          assignees: jmmaloney4
          body: "[Roon Release Notes](https://community.roonlabs.com/c/roon/software-release-notes/)"
